*~
*.log
.buildpath
.php-version
.project
.php-version
.settings
.c9
.idea
composer.phar
coverage.clover
/coverage/
/docs
/node_modules/
/phpunit
/report*/
/tests/Spec
/vendor/
/nbproject/
/nbproject/private/
/handlebars.c
/php-handlebars
